.header {
	display: flex;
	background-color: rgb(50, 167, 145);
  justify-content: space-between;
  }

.header form {
  align-items: start;
}

.header h1 {
  font-size: 50px;
  display: flex;
  align-items: center;
  text-align: center;
}

.trybewarts-header-logo {
	display: flex;
}

.trybewarts-login {
	display: flex;
}

.main {
	display: flex;
}

#evaluation-form {
	display: flex;
	width: 675px;
	flex-direction: column;
  align-items: center;
}

#trybewarts-forms-logo {
	height: 500px;
  margin-left: 150px;
}

.name {
	display: flex;
}

.emailcasa {
	display: flex;
}

#house {
	width: 185px;
}

#label-family {
	display: flex;
  margin-top: 10px;
}

#label-content {
	display: flex;
  margin-top: 10px;

}
#label-rate {
  display: flex;
flex-direction: row; 
}

.text {

  height: 100px;
  width: 350px;
}

#agreementterm {
  margin: 10px;
  display: flex;
  flex-direction: row;
}

.container1 {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.container2 {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#label-infos {
  display: flex;
}
.rate {
  margin-bottom: 30px;
}

.textarea {
  padding: 5px;
}